<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MuShare-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4B86B8A1CC897D0005DDF25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4B86BA61CC897D0005DDF25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4B86BB11CC897D0005DDF25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
